// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chessboard div{
     width:60px;height:60px;border:1px solid black;
     float:left;
}

#chessboard div:nth-child(16n+1),
#chessboard div:nth-child(16n+3),
#chessboard div:nth-child(16n+5),
#chessboard div:nth-child(16n+7),
#chessboard div:nth-child(16n+10),
#chessboard div:nth-child(16n+12),
#chessboard div:nth-child(16n+14),
#chessboard div:nth-child(16n+16){
    background-color:black;
}

#chessboard div:nth-of-type(8n+1){
    clear:left;
}
