@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.navbar.navbar-inverse {
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

.hero {
  width: 100%;
  height: 100%;
  background: url(chess.jpg) no-repeat center center fixed;
    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  font-family: "brandon-grotesque", helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  padding-top: 12em;
}
  
hgroup.landing-text h1 {
    font-weight: 700;
    font-size: 7.594em;
    margin: 0;
    letter-spacing: 3px;
    color: #fff;
}

hgroup.landing-text h4 {
    font-style: italic;
    margin: 0;
    color: #fff;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 2em;
    text-transform: none;
    font-weight: 200;
    font-style: italic;
}